services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: fd_user
      POSTGRES_PASSWORD: fd_pass
      POSTGRES_DB: food_delivery
    ports:
      - "5432:5432"

  api:
    build: .
    environment:
      PORT: 4000
      JWT_SECRET: supersecretjwt_change_me
      DATABASE_URL: postgresql://fd_user:fd_pass@db:5432/food_delivery?schema=public
      CACHE_TTL_SECONDS: 60
    ports:
      - "4000:4000"
    depends_on:
      - db

  adminer:
    image: adminer:4
    ports:
      - "8080:8080"    # change to "8090:8080" if 8080 is busy
    depends_on:
      - db
